dist/
docs/
book
.cache

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.versions/
.history/
node_modules/
yarn-error.log

$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
